@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;700&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Fira Code", monospace;
    font-size: calc(0.9rem + 0.5vw);
}

:root {
    --color-green: #A6E22E;
    --color-background: #2D2D2D;
    --color-white: #F8F8F2;
    --color-pink: #F92672;
    --color-cyan: #66D9EF;
    --color-orange: #FFCC00;
}

html, body {
    height: 100%;
}

body {
    background-color: var(--color-background);
    color: var(--color-green);
}

.Container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.GlobalHeader {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.GlobalHeader img {
    max-width: 100%;
    height: auto;
}

.GlobalHeader nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    list-style-type: none;
}

.GlobalHeader nav ul li a {
    color: var(--color-pink);
    text-decoration: none;
}

.GlobalHeader nav ul li a:hover {
    text-decoration: underline;
}

.IndexContent {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 1rem;
}

.IndexContent h1 {
    font-size: calc(1.5rem + 2vw);
    color: var(--color-white);
}

.ProjectContent {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ProjectContent h1 {
    color: var(--color-white);
    font-size: calc(1.5rem + 2vw);
    margin-bottom: 0.5rem;
}

.ProjectContent p {
    font-size: 1rem;
    text-align: center;
    max-width: 800px;
    padding: 0 1rem;
    margin-bottom: 1rem;
}

.ProjectList {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}

.Projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
}

.Projects a {
    color: var(--color-cyan);
	background: #353E43;
	border-radius: 10px;
	padding: 0 10px;
	text-decoration: none;
}

.Projects a:hover {
    text-decoration: underline;
}

.Projects img {
    width: 100%;
    max-width: 400px;
    height: auto;
    padding: 10px 0;
    border-bottom: 2px dashed var(--color-white);
}

.GlobalFooter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    color: var(--color-orange);
}

.blinking-cursor {
	display: inline;
	border-right: 4px solid #F8F8F2;
	white-space: nowrap;
	margin: 0;
	padding: 0;
	line-height: 1;
	animation: blink-caret 0.75s step-end infinite;
}

@keyframes blink-caret {
	from, to {
		border-color: transparent;
	}
	50% {
		border-color: #F8F8F2;
	}
}

@media screen and (max-width: 768px) {
    .IndexContent p {
        text-align: center;
    }
}

@media screen and (max-width: 500px) {
    .GlobalFooter {
        text-align: center;
    }

    .IndexContent {
        justify-content: center;
    }
}

@media screen and (width: 320px) {
    .GlobalHeader nav ul li a {
        font-size: 0.8rem;
    }
}